body, html {
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #000;
	font-weight: 300;
	width: 100% !important;
	height: 100% !important;
	font-size: 20px;
}

table {
	border-collapse: collapse;
}

tr:nth-child(even) {
	background-color:#d5d5d5;
}

table, th, td {
	border: 1px solid black;
	text-align: center;
	padding: 15px;
}

link {
	font-size: 15px;
}

